cadd_input_*.tsv
cadd_ready*.txt
filtered_*.tsv
ldlr_final_acmg_*.tsv
ldlr_ligand_domain_*.tsv
vep_ready.txt
man/
.Rproj.user/
.Rhistory
"data_raw/variant_summary.txt.gz" 
"data_raw/variant_summary.txt.gz" 
"data_raw/variant_summary.txt.gz" 
"data_raw/" 
"data_raw/" 
"data_raw/" 
"data_raw/" 
"data_raw/" 
"data_raw/" 
